<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
            True North PHP is back for 2015! Join us on November 5-7, 2015 at Microsoft Canada's HQ in Mississauga, Ontario for our fourth year of Canada's
            only dedicated PHP conference. It's 3 days of learning along
            with meeting not only our awesome speakers but other developers like you!
            </p>
            <p>
            We often get asked what sort of talks people should submit. For 2015 we
            have three main topics we're hoping to see:
            <ul>
            <li>New approaches in building PHP web applications</li>
            <li>Essential non-technical skills for developers</li>
            <li>Awesome complementary tools</li>
            </ul>
            </p>
            <p>
            But don't limit yourself to just that! If you have a topic <b>you</b> find
            interesting, submit it! The worst thing to happen is that we'll say no. The
            best thing that will happen is we'll say "awesome, let's do this!"
            </p>
            <p>We will be looking for 50 minute sessions with 10 minutes alloted for Q+A
            and are also looking for 3.5 hour tutorial to be held on the Thursday of the
            conference.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We know speakers are key to the success of a conference and hope
                you will submit a talk. True North PHP does compensate speakers for
                their travel costs. For full details please take a look at our
                <a href="{{ url('speaker_package') }}">speaker package information</a>
            </p>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible. This
            means we are excited to see submissions from members of groups that are usually under-represented
            as conference speakers. We also want to showcase Canadian talent and welcome international submissions.
            Speakers located in the U.S.A. count as international.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
        <p>
            For details on our conference code-of-conduct please view the
            <a href="http://confcodeofconduct.com/">Conference Code of Conduct</a>
          </p>
    </div>
</section>
